.contain-form {
    background: linear-gradient(rgba(245, 246, 252, 0.52),#8972da);
    background-repeat:no-repeat;
    height: -webkit-fill-available;
}

.popup-form {
    position: fixed;
    background-color: white;
    padding: 2rem;
    left: 50%;
    top: 40%;
    transform: translateY(-40%);
    transform: translateX(-50%);
    width: 70%;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #8972da;

}

.nav-form {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
}

.active {
    border-bottom: 2px;
    border-color: #8972da;
}

.non-active {
    color:rgba(158, 158, 158, 0.67);
}